<template>
  <div class="app-header">
    <div class="container">
      <div class="app-header-top">
        <h-header-menu class="app-header-menu" :list="menuList" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import HHeaderMenu from '@/components/layout/header/h-Header-Menu.vue';
import { IMenuItem } from '@/components/layout/type';

@Component({
  components: {
    HHeaderMenu,
  },
})
export default class HHeader extends Vue {
  menuList: IMenuItem[] = [
    {
      link: '/',
      label: 'О задании',
    },
    {
      link: '/about',
      label: 'О проекте',
    },
    {
      link: '/task',
      label: 'Задание',
    },
  ];
}
</script>

<style scoped lang="scss">
.app-header {
  position: sticky;
  top: 0;
  background-color: var(--color-bg);

  &-top {
    display: flex;
  }

  &-menu {
    margin-left: auto;
  }
}
</style>
