<template>
  <div class="layout">
    <h-header />
    <nuxt />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import HHeader from '~/components/layout/h-Header.vue';

@Component({
  components: {
    HHeader,
  },
})
export default class DefaultLayout extends Vue {

}
</script>

<style scoped>

</style>
