<template>
  <div class="status container">
    <div class="status__block">
      <img class="status__img" src="@/assets/status404.png" alt="404 code" />

      <div class="status__title">
        Мы еще не получили информацию по вашему заказу
      </div>
      <div class="status__text">
        Это может занять некоторое время для того что бы узнать статус нажмите
        на кнопку “Обновить”
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
@Component
export default class errorPage extends Vue {
  head () {
    return {
      title: '404',
    };
  }
}
</script>

<style scoped>
.status,
.status__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.status__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "case" on, "kern" off;

  color: #000000;
}
.status__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.25px;

  color: #000000;
}
</style>
