<template>
  <div class="container">
    <h1>Форма</h1>
    <validation-observer ref="observer" v-slot="{ handleSubmit, invalid }">
      <form class="form" @submit.prevent="handleSubmit(onSubmit)">
        {{ form }}

        <validation-provider
          v-slot="{ errors }"
          name="name"
          rules="required|alpha"
          class="form-validate"
        >
          <the-input
            v-model="form.name"
            label="Имя"
            type-of-input="normal-with-input"
            placeholder="Введите имя"
            data-testid="name"
          />
          <div v-if="errors.length" class="form-error">
            {{ errors[0] }}
          </div>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          class="form-validate"
          name="surname"
          rules="required|alpha"
        >
          <the-input
            v-model="form.surname"
            label="Фамилия"
            type-of-input="normal-with-input"
            placeholder="Введите фамилию"
            data-testid="surname"
          />
          <div v-if="errors.length" class="form-error">
            {{ errors[0] }}
          </div>
        </validation-provider><validation-provider
          v-slot="{ errors }"
          class="form-validate"
          name="iin"
          rules="required|is_iin"
        >
          <the-input
            v-model="form.IIN"
            label="ИИН"
            type-of-input="normal-with-input"
            placeholder="Введите ИИН"
            data-testid="iin"
          />
          <div v-if="errors.length" class="form-error">
            {{ errors[0] }}
          </div>
        </validation-provider>

        <button
          type="submit"
          class="form-button"
          :class="invalid ? 'button-disabled' : ''"
        >
          Отправить
        </button>
      </form>
    </validation-observer>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Provide } from 'nuxt-property-decorator';
import { ValidationProvider, ValidationObserver } from 'vee-validate';
import TheInput from '~/components/TheInput.vue';

@Component({
  components: {
    TheInput,
    ValidationProvider,
    ValidationObserver,
  },
})
export default class TaskPage extends Vue {
  @Provide() form: Object = {
    name: '',
    surname: '',
    IIN: '',
  };

  head () {
    return {
      title: 'Задание',
    };
  }

  onSubmit () {
    console.log(this.form, Math.floor(Math.random()));

    this.$router.push({
      path: '/status/' + Math.floor(Math.random() * 10) + 1,
    });
  }
}
</script>

<style scoped>
.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.form-validate {
  position: relative;
}
.form-error {
  position: absolute;
  width: 70%;
  left: 5px;
  color: #ff0000;
  font-size: 12px;
  line-height: 16px;
}
.form-button {
  border: none;
  padding: 16px 20px;
  background: linear-gradient(90deg, #2aa65c 0%, #00805f 100%);
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.button-disabled {
  background: #d3d7de;

  border: 1px solid #e2e4e9;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
</style>
