<template>
  <div class="status container">
    <div>{{ data }}</div>
    <div v-if="data.status == 'success'" class="status__block">
      <img class="status__img" src="@/assets/status200.png" alt="200 code" />

      <div class="status__title">
        Ваш заказ принят
      </div>
      <div class="status__text">
        В ближайшее время ожидайте подтверждения заказа от продавца
      </div>
    </div>
    <div v-if="data.status == 'error1'" class="status__block">
      <img class="status__img" src="@/assets/status404.png" alt="404 code" />

      <div class="status__title">
        Мы еще не получили информацию по вашему заказу
      </div>
      <div class="status__text">
        Это может занять некоторое время для того что бы узнать статус нажмите
        на кнопку “Обновить”
      </div>
    </div>
    <div v-if="data.status == 'error'" class="status__block">
      <img class="status__img" src="@/assets/status500.png" alt="500 code" />
      <div class="status__title">
        Технические неподалки :(
      </div>
      <div class="status__text">
        Извините, на данный момент у нас слишком много посетителей, попробуйте
        позже
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import { $API } from '@/plugins/axios';
@Component
export default class statusPage extends Vue {
  data = {};
  async fetch ({ route }: { route: any }) {
    const { number } = route.params;
    console.log(number);
    await $API.test.request(number).then((req) => {
      console.log(req);
      this.data = req;
    });
  }

  head () {
    return {
      title: 'Статус',
    };
  }
}
</script>

<style scoped lang="scss">
.status,
.status__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.status {
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-feature-settings: "case" on, "kern" off;

    color: #000000;
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.25px;

    color: #000000;
  }
}
</style>
