<template>
  <div class="menu">
    <ul class="menu-list">
      <li v-for="(item, index) in list" :key="`menu-item-${index}`" class="menu-list-item">
        <nuxt-link class="menu-list-link" :to="item.link" v-text="item.label" />
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator';
import { IMenuItem } from '@/components/layout/type';

@Component
export default class HHeaderMenu extends Vue {
  @Prop({ required: true, default: () => [] }) list!: IMenuItem[];
}
</script>

<style scoped lang="scss">
  .menu {
    --link-color: var(--color-text);
    --link-hover-color: var(--color-error);

    &-list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      &-link {
        font-size: var(--text-sm);
        font-weight: bold;
        text-transform: uppercase;
        color: var(--link-color);
        padding: var(--padding-md) var(--padding-md);
        line-height: 1.2;
        display: block;
        text-decoration: none;
        transition: color .1s;

        &:focus {
          text-decoration: underline;
        }

        &:hover,
        &.nuxt-link-exact-active {
          --link-color: var(--link-hover-color);
        }
      }
    }
  }
</style>
